* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#press {
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  font-size: 1.4rem;
}

.key {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.key .name {
  font-size: 1.2rem;
}

.key span {
  border: 1px solid #000;
  background-color: #fff;
  padding: 20px;
}
